<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <form method="GET">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2 d-flex " >

                            <div class="col-md-4">
                                <select name="bedroom_count" class="form-select">
                                    <option value="" selected>Bedroom Count</option> <!-- Установлено пустое значение по умолчанию -->
                                    <option value="1">1 Bedroom</option>
                                    <option value="2">2 Bedrooms</option>
                                    <option value="3">3 Bedrooms</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select name="bathrooms" class="form-select">
                                    <option value="" selected>Bathrooms</option> <!-- Установлено пустое значение по умолчанию -->
                                    <option value="1">1 Bathroom</option>
                                    <option value="2">2 Bathrooms</option>
                                    <option value="3">3 Bathrooms</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

