{% extends 'index.html' %}

{% block content %}
    <!-- Carousel Start -->
    {% include 'carousel.html' %}
    <!-- Carousel End -->

    <!-- Booking Start -->
    {% include 'booking.html' %}
    <!-- Booking End -->

    <!-- About Start -->
    {% include 'about.html' %}
    <!-- About End -->

    <!-- Room Start -->
    {% include 'room.html' %}
    <!-- Room End -->

    <!-- Video Start -->
    {% include 'video.html' %}
    <!-- Video Start -->

    <!-- Service Start -->
    {% include 'service.html' %}
    <!-- Service End -->

    <!-- Testimonial Start -->
    {% include 'testimonial.html' %}
    <!-- Testimonial End -->

    <!-- Team Start -->
    {% include 'team.html' %}
    <!-- Team End -->

{% endblock %}